.config-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.input-form {
  padding: 1rem 0.6rem;
  /* background-color: pink; */
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.input-form > h2 {
  text-align: center;
}
.input-area {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.back-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: #0f0;
  padding: 0.4rem;
  border: 1px solid #0f0;
  border-radius: 100%;
  cursor: pointer;
}

.input-area > input,
textarea {
  font-size: 1.2rem;
  caret-color: #0f0;
  background-color: inherit;
  border: 1px solid #0f0;
  color: rgb(141, 200, 235);
  padding: 0.6rem 0.2rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
