<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back,login"
    /> -->
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/css/index.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    {% block css %} {% endblock %}
    <title>AI Buddy - {{title}}</title>
  </head>
  <body>
    <div id="app">{% block content %} {% endblock %}</div>

    <script src="{{url_for('static', path='/js/index.js')}}"></script>
    {%block js %} {%endblock%}
  </body>
</html>
